USE [master]
GO
/****** Object:  Database [Terrario_base]    Script Date: 30/6/2024 01:59:34 ******/
CREATE DATABASE [Terrario_base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Terrario_base', FILENAME = N'C:\SQLData\DATA\Terrario_base.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Terrario_base_log', FILENAME = N'C:\SQLData\DATA\Terrario_base_log.ldf' , SIZE = 1024KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Terrario_base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Terrario_base]
GO
/****** Object:  Table [dbo].[Roedor]    Script Date: 30/6/2024 01:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Peso] [float] NOT NULL,
	[TipoAlimentacion] [int] NOT NULL,
	[Longitud] [float] NULL,
	[EsNocturno] [bit] NULL,
	[LargoCola] [float] NULL,
	[EsAlbino] [bit] NULL,
	[ProfundidadExcavada] [float] NULL,
	[GarrasAfiladas] [bit] NULL,
	[TipoRoedor] [int] NOT NULL,
 CONSTRAINT [PK_Roedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roedor] ON 

INSERT [dbo].[Roedor] ([Id], [Nombre], [Peso], [TipoAlimentacion], [Longitud], [EsNocturno], [LargoCola], [EsAlbino], [ProfundidadExcavada], [GarrasAfiladas], [TipoRoedor]) VALUES (1, N'Hammy', 50, 1, 6, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Roedor] ([Id], [Nombre], [Peso], [TipoAlimentacion], [Longitud], [EsNocturno], [LargoCola], [EsAlbino], [ProfundidadExcavada], [GarrasAfiladas], [TipoRoedor]) VALUES (3, N'Jamon', 30, 0, NULL, NULL, 6, 0, NULL, NULL, 1)
INSERT [dbo].[Roedor] ([Id], [Nombre], [Peso], [TipoAlimentacion], [Longitud], [EsNocturno], [LargoCola], [EsAlbino], [ProfundidadExcavada], [GarrasAfiladas], [TipoRoedor]) VALUES (4, N'Topon', 80, 2, NULL, NULL, NULL, NULL, 12, 1, 2)
SET IDENTITY_INSERT [dbo].[Roedor] OFF
GO
USE [master]
GO
